*.o
*.swp
*.pyc
*.fla
*.pid
*.swf
*.log
*.DS_Store
*~
config.js
conf.zip
README
log/
.tern*
/servers
/.idea
/.vscode
/launch.json
/conf/globalserver.dat
start.bat
stop.bat
.idea/
test.js
/test.js
/zcg.js
/config
